*
!*/
!/mpmissions/Altis_Life.Altis/**
!/@life_server/addons/life_server/**
!/@life_server/addons/life_hc/**
!/@infiSTAR_A3/addons/a3_infiSTAR/**
!/@extDB3/addons/extdb3/**
!.gitignore
!*.cfg
!*.bat
!LICENSE
!README.md
